---
layout: default
---

<div class="home">

  <p class="home-description">Hello there. My name is <a href="http://corygrunk.com" target="_blank">Cory</a>. I'm a UX designer by day and learning to build video games at night. I will document my progress on this blog.</p>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h4>{{ post.title | escape }}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
